---
import { Language } from "@anglish/core";
import { db } from "@anglish/db";
import { sql } from "kysely";
import Layout from "~/layouts/Layout.astro";

export function getStaticPaths() {
  return Array.from({ length: 26 }, (_, i) => ({ params: { letter: String.fromCharCode(97 + i) } }));
}

const { letter } = Astro.params;

// Fetch distinct words (lemmas) starting with this letter, Anglish only
const entries = await db.kysely
  .selectFrom("lemma")
  .select([
    "lemma.lemma",
    sql.raw<string[]>(`array_agg(DISTINCT lemma.pos)`).as("pos"),
  ])
  .where("lemma.lemma", "like", `${letter}%`)
  .where("lemma.lang", "=", Language.Anglish)
  .groupBy("lemma.lemma")
  .orderBy("lemma.lemma", "asc")
  .execute();
---

<Layout>
  <main class="min-h-[calc(100vh-var(--spacing-nav))] flex flex-col items-center py-12">
    <div class="font-display text-9xl border-b-4 border-gray-200 pb-4 mb-4">{letter.toUpperCase()}</div>
    <div class="mt-4 grid grid-cols-5 gap-2 w-full px-12">
      {entries.map(entry => (
        <div>
          <a href={`/word/${entry.lemma.replace(/ /g, "_")}`} class="text-xl font-bold hover:underline">
            {entry.lemma}
          </a>
        </div>
      ))}
    </div>
  </main>
</Layout>
