---
import MainNav from "../components/MainNav";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="">
    <div class="min-h-[calc(100vh-2*var(--spacing-nav))] flex flex-col items-center justify-center">
      <div class="font-fraktur text-4xl">The Anglish Wiki</div>
    </div>
    <MainNav />
  </main>
</Layout>
